.tab-assistant-setting {
  padding: 0 20px;

  .ant-form-item {
    flex-wrap: nowrap;
  }

  .ant-form-item-label {
    flex: 0 0 120px !important;
  }

  .ant-form-item-label>label {
    width: 100%;
    justify-content: flex-end;
    white-space: nowrap;
  }

  .ant-form-item-control {
    min-width: 0;
  }

  .ant-form-item-control-input,
  .ant-form-item-control-input-content {
    min-width: 0;
  }
}